<html>
  <head>
    <script type="text/javascript" src="/js/jquery-3.6.3.min.js"></script>
    <script type="text/javascript" src="/js/remapper.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
  </head>
  <body class="app">
    <nav>
      <a id="logo">
        123
      </a>
    </nav>
    <header>
      <h1>Phyrexian font remapper</h1>
      <span>
        Phyrexian font <a href="#" target="_blank">download ></a>
      </span>
    </header>
    <div class="intro_picture">
      <img src="#">
    </div>
    <section id="remapper_itself">
      <div id="rm_gibberish" class="rm_field rm_gibberish" data-gibberish-or-normal="gibberish">
        <span class="title"></span>
        <textarea data-gibberish-or-normal="gibberish"></textarea>
        <p class="transcription" data-gibberish-or-normal="normal"></p>
      </div>
      <div id="rm_to" class="rm_switch">
        <button>123</button>
      </div>
      <div id="rm_normal" class="rm_field rm_normal" data-gibberish-or-normal="normal">
        <span class="title"></span>
        <textarea data-gibberish-or-normal="normal"></textarea>
        <p class="transcription" data-gibberish-or-normal="normal"></p>
      </div>
    </section>
    <section id="rm_maps">
      <div id="click_to">
        <input name="click_to" type="radio" value="copy" checked>
        <input name="click_to" type="radio" value="typing">
      </div>
      <div class="cols">
        <div class="rm_map rm_gibberish_map">
          <% @gibberish_result.each do |char| %>
            <div class="char" data-char="<%= char %>" data-gibberish-or-normal="gibberish">
              <span><%= char %></span>
              <i><%= char.empty? ? "space" : char %></i>
            </div>
          <% end %>
        </div>
        <div class="rm_map rm_normal_map">
          <% @normal_result.each do |char| %>
            <div class="char" data-char="<%= char %>" data-gibberish-or-normal="normal">
              <span><%= char %></span>
              <i><%= char.empty? ? "space" : char %></i>
            </div>
          <% end %>
        </div>
      </div>
    </section>

  </body>
</html>