<html>
<body>
<%= @arr_phie.join("").to_s %>
<br>
<span style="font-family: Phi_horizontal_gbrsh_2"><%= @arr_phie.join("").to_s %></span>
<br>
<%= @arr_wotc.join("").to_s %>
<br>
<span style="font-family: Phyrexian"><%= @arr_wotc.join("").to_s %></span>
<br>
<br>
<br>
<br>
<span><%= @original %></span> &rarr; <span><%= @to_be_remapped %></span>
<br>
<div class="display: flex; flex-direction: row;">
  <div>
    <span style="font-family: Phi_horizontal_gbrsh_2; font-size: 40px"><%= @original %></span>
  </div>
  <div style=""> &rarr; </div>
  <div style=""><span style="font-family: Phyrexian; font-size: 40px"><%= @to_be_remapped %></span></div>
</div>
</body>
</html>