<html>
<body>
<%= @arr_phie.to_s %>
<br>
<%= @arr_wotc.to_s %>
<br>
<br>
<br>
<br>
<span><%= @original %></span> &rarr; <span><%= @to_be_remapped %></span>
<br>
<span style="font-family: Phi_horizontal_gbrsh_2"><%= @original %></span> &rarr; <span style="font-family: Phyrexian"><%= @to_be_remapped %></span>
</body>
</html>